
@{
    ViewBag.Title = "MyProjects";
}

<h2>MyProjects</h2>
<dl>
    <dt>ADVANCED PROGRAMMING IN WEB TECHNOLOGY</dt>
    <h4 style="color:olive">Job For All</h4>
    <p>An web based job portal using Laravel and ReactJS</p><br/>
    <dt>OBJECT ORIENTED PROGRAMMING 2</dt>
    <h4 style="color:olive">Digital Diary</h4>
    <p>An windows form .Net application where a user can store personal notes or pictures in an specific date and update anytime.</p><hr />
    <h4 style="color:olive">Parking Mangement</h4>
    <p>This is also an windows form application where in an specific parking lot all managements can be done.</p>
    <br />
    <dt>OBJECT ORIENTED PROGRAMMING 1 (JAVA)</dt>
    <h4 style="color:olive">Library Management</h4>
</dl>
